@import './variables.css';

@font-face {
    font-family: 'violet_sansregular';
    src: url('./VioletSans-Regular.woff') format('woff'); /* Ruta relativa */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'violet_sansregular', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: var(--text-dark);
    background: #1a1a1a;
}

